
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Lora:wght@700&display=swap');
*{
    font-family:Lora;
    color:black;
}


  
 html h1 {
    background-color: rgba(171, 231, 194, 0.315);
    margin-left:20px;
  }
  
html h2{
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    margin-left:50px;
  }


    
